<div class="theme-container">
<div class='theme'>
<div class="theme-info">
<div class="theme-name"><a class="theme-title-link" href="/themes/view/<%= theme.name %>">
	<%= theme.name %>
</a>
</div>
<div class="theme-author">
<a class="theme-author-link" href="/themes/users/view/<%= theme.author %>">
<%= theme.pauthor %>
</a>
</div>
</div>
<br>
<a class="theme-screen-link" href="/themes/view/<%= theme.name %>">
<% if (theme.screen) { %>
	<img class="theme-screen" src ="<%= "https://images.weserv.nl/?url="+theme.screen.replace("https://","").replace("http://","") %>">
<% } else {%>
	<img class="theme-screen empty-screen" src="/empty.png">
<% } %>
</a>
	<div class="theme-desc">
	<% if (theme.description) {
		if (theme.description.length > 35){
			theme.description = theme.description.substring(0, 35)+"...";
		} %>
		<%= theme.description%>
<% } else {%>
	No Description
<% } %>
</div>

<div class="theme-date">
	Updated <%= new Date(theme.updated).toLocaleString() %>
</div>
<div class="theme-installs">
	Downloads: <%= theme.installs %>
</div>
</div>
</div>
