<html>
	<head>
		<title> <%= theme.name %> </title>
		<link rel="stylesheet" href="/stylesheet.css">
	</head>
	<body>
		<%- include("views/header", {constraints:"",ptitle: theme.name}); %>
		<div id="theme-big">
			<div id="theme-big-title">
				<span class="bold"><%= theme.name %> </span>by <a href="/themes/users/view/<%= theme.author %>"> <%= theme.pauthor %></a>
			</div>
			<a href="/themes/repo/<%=theme.name %>" id="download-big" > Download Theme </a>
			<div id="theme-big-screen">
				<% if (theme.screen) { %>
				<img id="theme-big-img" src="<%= "https://images.weserv.nl?url="+theme.screen.replace("https://","").replace("http://","")%>">
				<% } else { %>
				<img id="theme-big-img" src="/empty.png">
				<% } %>
			</div>
			<div id="theme-big-description">
				<%= theme.description || "This theme doesn't have a description yet. If you're the author, please add one by editing ~/.config/raven/themes/"+theme.name+"/theme.json." %>
			</div>
			<div id="theme-big-install">
				raven install <%= theme.name %>
			</div>
			<div id="theme-big-updated">
				Updated last on <%= theme.updated %>
			</div>
			<div id="theme-big-installs">
				Total installs: <%= theme.installs %>
			</div>
			<div id="theme-big-report">
				<a href="/themes/report/<%= theme.name %>">
					Report this theme
				</a>
			</div>
		</div>
	</body>
</html>